<% provide(:title, "i联赛") %>
<div id="home" class="container bodyer">
  <div class="row">
    <div class="col-md-12">
<div id="agreement" class="modal fade">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">第三届i联赛网上报名协议</h4>
      </div>
      <div class="modal-body">
        <p><pre style="background-color: transparent; font-size: 16px;">
    1.本网站网上报名系统的所有权归属于ImbaTV,报名者必须完全同意所有服务条款,方可进行网上报名;

    2.年满16周岁的中国公民,其余国籍暂不限;

    3.报名人数不设上限,实际参赛人数以报名开始与截止日期间的统计与审批后的人数为准;

    4.报名者保证报名时提交的个人信息资料真实正确,并将对个人信息不真实或不正确而导致无法参加比赛以及取消比赛成绩等直接或间接的后果负责;

    5.报名注册确认后,选手需根据跳转页面中的官方联系信息主动进行联系,以便获得后续赛事信息;

    6.一经报名者确认提交后的资料已不可再做修改,系统将依此进行审批,审批时间一般为3－4个工作日;

    7.报名者必须最晚在比赛正式开始前3天登录报名系统查看审批结果与比赛日程,并加入官方比赛选手群以确认参赛,比赛正式开始前24小时,将停止官方比赛群的加入许可;

    8.主动与“主办方联系方式”所显示的联系人/群进行联系,此“联系方式”将显示在报名者的报名成功页面中,超过规定时间未进行主动联系的选手,主办方可视为放弃比赛权利;

    9.线上预赛阶段,报名审批通过并加入官方比赛选手群后参赛者,必须按照比赛日程按时登录选手群进行报道,比赛开始前15分钟未进行报道的选手将被取消选择主机的权利,比赛正式开始时间过后,未进行报道的选手将被取消资格;

    10.线下预赛阶段,通过网上报名系统报名的参赛者,必须按时到当地分赛区的比赛现场进行报道,最晚在比赛开始前15分钟,未进行报道的选手将被取消参赛资格;

    11.比赛开始前,参赛者必须做好相关比赛准备,并在比赛过程中听从裁判安排;

    12.比赛过程中,裁判不对规则做任何解释,参赛者若有任何异议,可在赛后向组委会申诉,但在组委会做出说明前,选手必须遵守现有规则,完成所有比赛;

    13.比赛将暂不分别设置电信与网通区（若有调整将更改）,故选手在报名前必须了解自身网络情况,以决定是否参赛,在双方服务器无法达成统一的情况下将分赛区采用以下默认服务器：中国赛区——电信服务器;美洲赛区——美东服务器;欧洲赛区——卢森堡服务器;东南亚赛区——新加坡服务器;

    14.委会可根据比赛阶段情况,向选手要求提供更为详尽的"选手资料",参赛选手需按照组委会的要求完成;

    15.组委会可根据以往赛事或者其它赛事的情况,判定参赛个人或者战队是否具有参赛资格,并有权剥夺任何个人或者战队的参赛资格;

    16.所有规定的最终解释权归赛事组委会所有;
        </pre></p>
      </div>
      <div class="modal-footer">
        <a href="/" type="button" class="btn btn-default">返回</a>
        <button type="button" class="btn btn-primary">同意</button>
      </div>
    </div>
  </div>
</div>
    </div>
  </div>
</div>
<script>
  $('#agreement').modal({
    keyboard: false,
    backdrop: false
  });
  $('#agreement').modal('show')
</script>