<% provide(:title, "编辑节目单") %>
<div class="container bodyer">
  <div class="row">
    <div class="col-md-12">
      <h1>编辑节目单</h1>

      <%= render 'form' %>

      <button type="button" class="btn btn-sm btn-default"><%= link_to '显示', @program %></button>
      <button type="button" class="btn btn-sm btn-default"><%= link_to '返回', programs_path %></button>
    </div>
  </div>
</div>
