<% provide(:title, "新建节目单") %>
<div class="container bodyer">
  <div class="row">
    <div class="col-md-12">
      <h2>新建节目单</h2>
      <br>

      <%= render 'form' %>

      <%= link_to '返回', programs_path, class: "btn btn-default" %>
    </div>
  </div>
</div>