<% provide(:title, "编辑新闻") %>
<div class="container bodyer">
  <div class="row">
    <div class="col-md-12">
      <h2>编辑新闻</h2>
      <br>

      <%= render 'form' %>

      <%= link_to '显示', @news, class: "btn btn-default" %>
      <%= link_to '返回', news_index_path, class: "btn btn-default" %>
    </div>
  </div>
</div>