<% provide(:title, "编辑新闻") %>
<div class="container bodyer">
  <div class="row">
    <div class="col-md-12">
      <h1>编辑新闻</h1>

      <%= render 'form' %>

      <button type="button" class="btn btn-sm btn-default"><%= link_to '显示', @news %></button>
      <button type="button" class="btn btn-sm btn-default"><%= link_to '返回', news_index_path %></button>
    </div>
  </div>
</div>