<div class="container bodyer">
  <div class="row">
    <div class="col-md-12">
      <h1>新建新闻</h1>

      <%= render 'form' %>

      <button type="button" class="btn btn-sm btn-default"><%= link_to '返回', news_path %></button>
    </div>
  </div>
</div>