$purple: darken(#493B9A, 1.5%);
$purple-darkest: darken($purple, 20%);
$purple-darker: darken($purple, 6%);
$purple-dark: darken($purple, 2%);
$purple-lightest: lighten($purple, 36%);
$purple-lighter: lighten($purple, 12%);
$purple-light: lighten($purple, 6%);

$grid-gutter-width: 9px;

$navbar-inverse-bg: $purple-darker;

$navbar-inverse-color: #fff;

$navbar-inverse-link-color: #fff;

$alert-success-bg: $purple-dark;

$alert-success-text: #fff;

$brand-primary: $purple;

$input-border-focus: $purple-lighter;

$font-family-sans-serif: "Helvetica Neue", "Microsoft YaHei", Helvetica, Arial, sans-serif;

@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap-datetimepicker';

.header {
  box-shadow: 0px 2px 6px $purple-darkest;
}

.bodyer {
  margin-top: -25px;
  margin-bottom: 50px;
}

.footer {
  margin-top: 24px;
  margin-bottom: 12px;
  // background-color: $purple-dark;
  background-color: transparent;
  // box-shadow: 0px 3px 6px $purple-darkest inset;
  border-radius: 4px;
  span {
    padding: 8px;
    color: $gray-lighter;
    a {
      color: $gray-lighter;
    }
  }
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -10;
}

#carousel-generic {
  border: 1px solid $purple-darkest;
  border-radius: 4px;
  img {
    border-radius: 3px;
  }
}

#logo {
  padding-top: 6px;
  padding-left: 0px;
}

#search {
  border: 1px solid $purple-darkest;
  background-color: $purple-darker;
  color: #fff;
  box-shadow: -1px 1px 1px $purple-darkest inset;
}

.form-control-feedback {
  color: $purple-lightest;
}

.label-carousel {
  box-shadow: -1px 1px 2px $gray-darker inset;
  background-color: transparent;
  position: absolute;
  left: 2px;
  bottom: 2px;
  border-radius: 4px;
  border-left: 1px solid $gray-light;
  border-bottom: 1px solid $gray-light;
  font-size: $font-size-h4;
}

.row + .row {
  margin-top: 6px;
}

.panel {
  margin-bottom: 6px;
}

#notify {
  margin-bottom: 0px;
  a {
    color: #fff;
  }
  button {
    color: #fff;
    opacity: 0.6;
  }
}

.thumbnail {
  padding: 0px;
  margin-bottom: 6px;
  border: 1px solid $purple-darkest;
  background-color: $purple-dark;
  img {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }
  .caption {
    span {
      color: #fff;
      font-size: $font-size-base;
      .badge {
        background-color: #fff;
        color: $purple-dark;
      }
    }
  }
}

.badge {
  padding: 4px 8px;
}

#panels {
  margin-top: 0px;
}

#login {
  height: 800px;
  background-color: $purple-dark;
}

.time, .view {
  color: $gray-light;
}

.title {
  border-left: 6px solid $purple-dark;
  border-radius: 3px;
}

.content {
  font-size: $font-size-h4;
  background-color: #fff;
  padding: 20px 12px;
  border: 1px solid $gray-lighter;
  min-height: 360px;
}

.alert-notice {
  padding-top: 5px;
}

.comment {
  padding: 2px 20px;
  margin-bottom: 12px;
  border-radius: 2px;
  border-left: 3px solid $purple-dark;
  p {
    color: $purple-darker;
    font-size: ceil($font-size-base * 1.02);
    span {
      color: darken($gray-lighter, 12%);
      font-size: ceil($font-size-base * 0.88);
    }
  }
  footer::before {
    color: $gray-lighter;
  }
  footer {
    color: $gray-darker;
      font-size: ceil($font-size-base * 1.06);
  }
}