$purple: #493B9A;
$purple_darker: darken($purple, 36%);
$purple_dark: darken($purple, 12%);
$purple_lighter: lighten($purple, 36%);
$purple_light: lighten($purple, 12%);

$navbar-inverse-bg: $purple;

$navbar-inverse-color: #fff;

$navbar-inverse-link-color: #fff;

$grid-gutter-width: 12px;

$font-family-sans-serif: "Helvetica Neue", "Microsoft YaHei", Helvetica, Arial, sans-serif;

@import "bootstrap-sprockets";
@import "bootstrap";

.header {
  margin-bottom: 2px;
}

#carousel-generic {
  border: 1px solid $purple_darker;
  border-radius: 4px;
  box-shadow: -6px 6px 6px $purple_darker;
}

#logo {
  padding-top: 6px;
  padding-left: 0px;
}

#search {
  border: 1px solid $purple_dark;
  background-color: $purple;
  color: #fff;
  box-shadow: -1px 1px 1px $purple_darker inset;
}

.form-control-feedback {
  color: $purple_lighter;
}

.label-carousel {
  box-shadow: -2px 2px 2px $gray-darker inset;
  background-color: transparent;
  position: absolute;
  left: 8px;
  bottom: 8px;
  border-radius: 4px;
  border-left: 1px solid $gray-light;
  border-bottom: 1px solid $gray-light;
  font-size: $font-size-h4;
}