<footer class="container footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <span class="pull-right">© <a href data-toggle="modal" data-target=".login-modal">Rey</a>. All Rights Reserved.</span>
      </div>
    </div>
  </div>
</footer>

<div class="modal fade login-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">管理员登录</h4>
      </div>
      <%= form_for :admin, url: login_path do |f| %>
      <form method="post" action="/login">
      <div class="modal-body">
          <% if admin_logged? %>
            <a href="/logout" class="btn btn-danger btn-block">管理员注销</a>
          <% else %>
          <div class="form-group">
            <label for="recipient-name" class="control-label">密码</label>
            <%= f.password_field :password, class: "form-control" %>
          </div>
          <% end -%>
      </div>
      <div class="modal-footer">
        <% unless admin_logged? %>
        <button type="submit" class="btn btn-primary">确认</button>
        <% end -%>
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
      </div>
      <% end -%>
    </div>
  </div>
</div>